/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .trippleColumnContents .twoOfTree input {
        max-width: 280px; 
    }

}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .trippleColumnContents .twoOfTree input {
        max-width: 250px;
        margin: 30px 0;
    }

}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    ul.milstone li {
        padding: 10px 18px; 
    }
    .targetOverview { 
        flex-wrap: wrap;
        justify-content: center;
    } 
    .targetOverview_right {
        padding-left: 0;
    }
    .topHeading h4 { 
        font-size: 22px; 
    }
    .themeBtn {
        padding: 12px 22px; 
    }
    .result-area {
        padding: 20px 0;
    } 
    .demogDetails_wrp_left {
        width: 100%; 
    }
    .ana_wrp label { 
        min-width: 300px;
        max-width: 300px;
        height: 140px; 
    }
    .selectNow div { 
        padding: 24px 15px; 
    }
    .trippleColumnContents {
        display: block;
        width: 100%;
    }
    .trippleColumnContents > div{
        width: 100%;
        margin-top: 30px;
    }
    .trippleColumnContents .twoOfTree input { 
        margin: 15px 0;
    }
    .trippleColumnContents > div.treeOfTree input { 
        display: block;
        margin: 15px auto;
    }
    .trippleColumnContents .twoOfTree {
        border: none;
        border-top: 1px solid #E4E4E4;
        border-bottom: 1px solid #E4E4E4;
        padding: 20px 0px;
    }
    .trippleColumnContents .twoOfTree > a { 
        margin-bottom: 15px;
    }
    .stepActionBtns { 
        margin-top: 50px;
    }
    form.multistepform[data-label="three"] .stepBlks {
        min-height: 480px;
    }
    form.multistepform[data-label="four"] .stepBlks {
        min-height: 740px;
    }
    .progs { 
        margin-bottom: 40px; 
    }





}

 
/* small screen :320px. */
@media (max-width: 767px) {
    label input{
        max-width: 280px;
    }
    .stepActionBtns { 
        margin-top: 45px;
        flex-wrap: wrap;
    }
    .stepActionBtns > div {
        width: 50%;
        margin-top: 10px;
    }
    .stepActionBtns > div:last-child{
        width: 100%;
        margin-top: 20px;
    }
    form.multistepform > h5 {
        font-size: 22px;
        line-height: 26px;
    }
    .progs { 
        margin-top: 15px;
        margin-bottom: 30px; 
    }
    .stepBlk > p { 
        margin-bottom: 30px;
    }
    .stepBlk > a { 
        margin-top: 25px; 
    }
    .targetOverview { 
        flex-wrap: wrap;
        justify-content: center;
    } 
    ul.milstone {
        flex-wrap: wrap;
    }

    .topHeading {
        flex-wrap: wrap;
    }
    .numb_blk {
        flex-wrap: wrap;
    }
    .demogDetails_wrp_left {
        width: 100%;
    }
    .demogDetails_wrp_right {
        flex-wrap: wrap;
    }
    .ana_wrp {
        flex-wrap: wrap;
    } 
    .ana_wrp label {
        min-width: 100%;
        max-width: 100%;
        height: 100px;
    }
    .container-fluid {
        padding: 0 15px;
    }
    .topHeading h4 { 
        font-size: 22px;
        line-height: 26px;
        width: 100%;
        margin-bottom: 15px;
    }
    .targetOverview_right {
        padding-left: 0;
        margin-top: 15px;
    }
    ul.milstone li > img{
        display: none;
    }
    ul.milstone li:last-child{
        width: 100%;
    }
    ul.milstone li:last-child img{
        display: block;
        margin: auto;
    }
    .nm_blk {
        margin: 20px 10px;
        display: block;
        text-align: center;
        width: 100%;
    }
    .nm_blk img{
        margin: 0;
        margin-bottom: 10px;
    }
    .utiilized {
        padding: 15px;
    }
    .utilized-tab ul li {
        width: 33% !IMPORTANT;
        text-align: center;
        padding: 0;
    }

    .utilized-tab div#pills-tabContent { 
        padding: 20px;
    }
    .utilized-tab ul li button { 
        padding: 20px 5px; 
        padding-left: 20px;
    }
    .utilized-tab-wrp {
        flex-wrap: wrap;
    }

    .utilized-tab-wrp-left {
        margin-right: 0;
    }
    .themeBtn {
        padding: 12px 20px; 
    }




    .selectNow div { 
        padding: 24px 15px; 
    }
    .trippleColumnContents {
        display: block;
        width: 100%;
    }
    .trippleColumnContents > div{
        width: 100%;
        margin-top: 30px;
    }
    .trippleColumnContents .twoOfTree input { 
        margin: 15px 0;
        max-width: 270px;
    }
    .trippleColumnContents > div.treeOfTree input { 
        display: block;
        margin: 15px auto;
    }
    .trippleColumnContents .twoOfTree {
        border: none;
        border-top: 1px solid #E4E4E4;
        border-bottom: 1px solid #E4E4E4;
        padding: 20px 0px;
    }
    .trippleColumnContents .twoOfTree > a { 
        margin-bottom: 15px;
    }
    .stepActionBtns { 
        margin-top: 15px;
    }
    .multiSelectOption {
        display: block;
    }
    .multiSelectOption > .selectNow{
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .stepActionBtns > div > a,
    form.multistepform[data-label="one"] button.goBack{
        display: none;
    }
    form.multistepform[data-label="four"] .stepActionBtns > div > a,
    form.multistepform:not([data-label="one"]) button.goBack{
        display: block;
    }
    .stepActionBtns > div > button span {
        display: none;
    }
    
    .stepActionBtns > div > button img {
        margin: 0 !important;
    }
    form.multistepform[data-label="one"] .stepBlks {
        min-height: 170px;
    }
    form.multistepform[data-label="two"] .stepBlks {
        min-height: 585px;
    }
    form.multistepform[data-label="three"] .stepBlks {
        min-height: 480px;
    }
    form.multistepform[data-label="four"] .stepBlks {
        min-height: 740px;
    }
    .progs { 
        margin-bottom: 40px; 
    }










}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
