/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  min-height: 100vh;
  position: relative;
}
button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif; 
  color: #000000;
  margin-top: 0px; 
  font-weight: 700;
  text-transform: normal;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

.container-fluid{
   padding: 0 30px;
 }
.container{
  max-width: 1030px;
}




/* default-css END 
================================== */
 


.header-area {
  padding: 15px 0;
  width: 100%;
  z-index: 99;
  background: transparent;
  border-bottom: 1px solid #E4E4E4;
}
ul.menu-area {
  display: flex;
  align-items: center;
  justify-content: end;
}

ul.menu-area a {
  display: block;
  /* padding: 16px 32px;
  background: #FFFFFF; 
  border: 1px solid #0000;
  border-radius: 1000px; */
  transition: .3s;
}

ul.menu-area a.active {
  border: 1px solid #A3A3A3;
}

ul.menu-area a:hover {
  /* background: #000; */
  /* border-color: #A3A3A3; */
}

ul.menu-area a img {
  transition: .3s;
}

ul.menu-area a:hover img {
  /* filter: invert(1); */
}

  

/* Header section END CampainInfo css START*/








form.multistepform {
  text-align: center;
  padding: 40px 0 105px 0;
}
form.multistepform > h5 {
  font-size: 28px;
  line-height: 33px;
}
.progs {
  width: 221px;
  height: 8px; 
  background: #E4E4E4;
  border-radius: 1000px;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 90px;
  opacity: 0;
}
.progs::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background: #E34444;
  transition: .3s;
}
form.multistepform[data-label="two"] .progs ,
form.multistepform[data-label="three"] .progs ,
form.multistepform[data-label="four"] .progs {
  opacity: 1;
}
form.multistepform[data-label="two"] .progs::after{
  width: 30%;
}
form.multistepform[data-label="three"] .progs::after{
  width: 60%;
}
form.multistepform[data-label="four"] .progs::after{
  width: 90%;
}
.stepActionBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 85px;
}

.stepActionBtns > div {
  width: 33.5%;
  text-align: center;
}

.themeBtn{
  padding: 14px 30px;
  border-radius: 100px;
  border: 1px solid #A3A3A3;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: max-content;
}
.themeBtn.inactive{
  border: transparent;
}
.themeBtn.active{
  background: #E34444;
  color: #fff;
  border-color: #E34444;
}
.stepActionBtns > div > button { 
  margin: auto;
}

form.multistepform[data-label="one"] button.goBack {
  opacity: 0;
  pointer-events: none;
}
.stepActionBtns > div > a {
  text-decoration-line: underline;
  opacity: 0;
  pointer-events: none;
}
form.multistepform[data-label="four"] .stepActionBtns > div > a{
  opacity: 1;
  pointer-events: all;
}
.stepActionBtns > div > button img.ilt {
  margin-right: 15px;
}

.stepActionBtns > div > button img.irt {
  margin-left: 15px;
} 
.stepBlk{
  display: none;
}
.stepBlk.active{
  display: block;
}
.stepBlk > p {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 50px;
}
label {
  display: block;
  margin: auto;
  text-align: center;
}

label input[type="text"] {
  border: 1px solid #D0D0D0;
  border-radius: 28px;
  width: 450px;
  height: 45px;
  text-align: center;
  font-size: 16px;
}
.stepBlk > a {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: max-content;
}
.multiSelectOption {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.selectNow {
  position: relative;
  cursor: pointer;
}
.selectNow input {
  cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.selectNow div{
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 9px;
  /* transition: .3s;  */
  padding: 24px 21px;
  position: relative;
}

.selectNow input:checked~div{
  border: 2px solid #000;
}
.selectNow h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.multiSelectOption > .selectNow{
  margin: 0 13px;
}
.selectNow {
  width: 250px;
}
.trippleColumnContents {
  display: flex;
  /* align-items: baseline; */
}

.trippleColumnContents > div {
  width: 33%;
}

.trippleColumnContents > div > p {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  text-align: center;
}
.trippleColumnContents > div .selectedGoal.selectNow {
  margin: auto;
}

.selectNow div img {
  position: absolute;
  top: -13px;
  right: -13px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
}
.trippleColumnContents .twoOfTree input {
  max-width: 310px;
  margin: 40px 0;
}

.trippleColumnContents .twoOfTree {
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  padding: 0 20px;
}
.trippleColumnContents .twoOfTree > a {
  display: block;
  margin-bottom: 60px;
}
.trippleColumnContents > div.treeOfTree {
  padding: 0 40px;
}

.trippleColumnContents > div.treeOfTree input[type="text"] {
  width: 240px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.selectNow.singlHeading > div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 160px;
  margin: 0;
}


  




/* campaainInfo css END and Footer css START */







footer {
  padding: 30px 0;
  padding-bottom: 20px;
  border-top: 1px solid #E4E4E4;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footerWidget p {
  margin-bottom: 24px;
}
.footerWidget p:last-child{
  margin: 0;
}







/* ============================= 
Step page css END and Result css START 
 =============================*/


 



.result-area{
  padding: 50px 0;
}
.topHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #D0D0D0;
}

.topHeading > div {
  display: flex;
  align-items: center;
}

.topHeading > div button {
  margin-left: 15px;
}

.topHeading h4 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
}

.targetOverview {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.targetOverview_left {
  min-width: 225px;
  max-width: 225px;
}

.targetOverview_left .pPrfl {
  position: relative;
  border: 1px solid #D0D0D0;
  border-radius: 16px;
  overflow: hidden;
}

.targetOverview_left .pPrfl img {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.targetOverview_left .pPrfl h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 17px;
}

.targetOverview_left .pPrfl  .ppt {
  width: 104px;
  height: 104px;
  background: #D9D9D9;
  border-radius: 50%;
  position: relative;
  margin: auto;
  margin-top: -60px;
  margin-bottom: 15px;
}

.targetOverview_left .pPrfl .ppt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.targetOverview_left .teamOverview {
  text-align: center;
  margin-top: 32px;
}

h5.title {
  border-bottom: 1px solid #D0D0D0;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 5px 0;
  margin-bottom: 15px;
}

.teamOverview ul {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.teamOverview ul li {
  display: block;
  margin: 0 -5px;
}

.teamOverview ul li img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.targetOverview_right_top ul.milstone {margin: 10px 0;}

.targetOverview_right {
    padding-left: 25px;
}

ul.milstone {
    display: flex;
    border: 1px solid #D0D0D0;
    align-items: center;
}

ul.milstone li {
    padding: 15px 30px;
    min-width: max-content;
    text-align: center;
    width: 100%;
    position: relative;
}
ul.milstone li:last-child {
  width: 80px;
  padding: 0;
}
ul.milstone li:last-child img {
  position: unset;
  padding: 10px 25px;
}
ul.milstone li p {
    margin: 0;
}
ul.milstone li h5 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 3px;
}
.result-top {
  margin-bottom: 30px;
}
.targetOverview_right_below p {
    font-size: 16px;
    line-height: 19px;
}
ul.milstone li > img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
}
.recommendation {
  border: 1px solid #D0D0D0;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background: #EEEEEE;
  text-align: center;
  padding: 25px;
}

.blkTitle {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.blkTitle h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.blkTitle p {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.recommendation a.themeBtn.active {
  margin: auto;
  margin: 25px auto;
}

.recommendation > p {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.recommendation > p a {
  text-decoration: underline;
}

.outcome {
  border: 1px solid #D0D0D0;
  border-radius: 16px;
  margin-top: 35px;
}

.outcome-top {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid #D0D0D0;
}

.numb_blk {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nm_blk {
  margin: 25px 40px;
  display: flex;
  align-items: center;
}

.nm_blk img {max-width: 65px;margin-right: 15px;}

.nm_blk > h5 {
  margin: 0;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
}

.nm_blk > h5 span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  text-align: center;
}

.demogDetails,.analysis {
  padding: 15px;
  border-top: 1px solid #D0D0D0;
}

.demogDetails_wrp_left {
  width: 470px;
  text-align: center;
}

.demogDetails_wrp_left img {
  display: block;
  width: 100%;
  border: 1px solid #D0D0D0;
  border-radius: 20px;
  margin-bottom: 10px;
}

.demogDetails_wrp_left p {
  font-size: 16px;
  line-height: 19px;
}

.demogDetails_wrp_right {
  display: flex;
  align-items: flex-start;
}

.demogDetails_wrp_right img {
  width: 100px;
  height: 100px;
  border: 1px solid #D0D0D0;
  border-radius: 50%;
  margin-right: 25px;
}

.demogDetails_wrp_right p,.demogDetails_wrp_right ul li {
  font-size: 16px;
  line-height: 19px;
}
.ana_wrp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ana_wrp p {
  font-size: 16px;
  line-height: 19px;
  margin-right: 30px;
}

.ana_wrp label {
  border: 1px solid #D0D0D0;
  border-radius: 16px;
  min-width: 467px;
  max-width: 467px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: .3s;
}

.ana_wrp label input#file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.utilized-tab {
  border-radius: 15px;
  overflow: hidden;
}
.ana_wrp label:hover {
  background: #e2e2e2;
}
.utiilized {
  padding: 30px;
}

.utilized-tab button {
  border: none;
}
.utilized-tab ul li button {
  background-color: #D0D0D0;
  display: block;
  width: 100%;
  padding: 16px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  position: relative;
  transition: 0s !important;
}
.utilized-tab ul li button:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  background: url(../img/inactive.png);
  background-size: 100% 100%;
  top: 0;
  right: -25px;
  z-index: 2;
}
.utilized-tab ul li button.active {
  background: #E4E4E4;
}

.utilized-tab ul li button.active:after {
  background: url(../img/active.png);
  background-size: 100% 100%;
}

.utilized-tab ul li:last-child button:after{
  display: none;
}
.utilized-tab div#pills-tabContent {
  background: #E4E4E4;
  border-radius: 0 0 15px 15px;
  border: 1px solid #fff;
  padding: 40px;
}

.utilized-tab-wrp {
  display: flex;
  align-items: flex-start;
}

.utilized-tab-wrp h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
}

.utilized-tab-wrp p {
  font-size: 16px;
  line-height: 19px;
}

.utilized-tab-wrp-left {
  margin-right: 50px;
}
























.go-ahead {
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.go-ahead a.themeBtn.active {
  margin: auto;
}

.go-ahead p {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;
}





